@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
    
}

body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background: linear-gradient(#72ec9e, #149742);
}

.cont-resultados{

    
    width: 60%;
    margin: 80px auto;
    color: #fff;
    background-color: #1788552d;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #57b175;
    box-shadow: -2px 0px 5px rgba(45, 123, 61, 0.507);
}

.cont-tipo-imagen{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.cont-tipo-imagen .cont-tipo .tipo{
  
    font-size: 25px;
    text-shadow: 4px 4px 4px  rgb(40, 37, 37);
    text-transform: capitalize;
    
}

.cont-tipo-imagen .cont-tipo .name{
  
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 4px 4px  rgb(40, 37, 37);
    text-transform: capitalize;
}


.cont-tipo-imagen img{
    height: 350px;
    width: 350px;
    background-color: #1788552d;
    border-radius: 100%;
    box-shadow: -2px 0px 5px rgba(45, 123, 61, 0.507);
    border: 1px solid rgb(71, 67, 67);
}

.pokemon-stats {
    margin-top: 20px;
    
}

.stat {
     
    
    display: flex;
    align-items: center;
    padding: 1px;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.stat-name {
    font-weight: bold;
    margin-bottom: 5px;
    width: 200px;
    font-size: 25px;
    text-shadow: 2px 4px 4px  rgb(40, 37, 37);
}

.stat-bar {
    
    padding:5px;
    height: 50px;
    width: 850px;
    border-radius: 50px;
    overflow: hidden;
    
    
    
}

.stat-progress {
    height: 100%;
    background-color: #fff;
    color: rgb(184, 13, 13);
    text-align: center;
    line-height: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 3px rgb(42, 44, 42);
}

.pokemon-stats p{
    
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 4px 4px  rgb(40, 37, 37);

}