@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(240, 237, 237);
}

header{
   
    box-shadow: -2px 0px 5px rgba(66, 66, 66, 0.5);
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.116),rgba(0, 0, 0, 0.144)), url('../img/Background.png');
    background-position: unset;
    background-size: cover;
    background-attachment: fixed;
}


header .cont-logo{
 display: flex;
 align-items: center;
 width: 70%;
 padding-top: 10px;
 margin: 0 auto;
 justify-content: space-between;
}

header .cont-logo .logo img{
width: 130px;
height: 40px;

}

header .cont-search{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    border: solid 2px #000;
    padding: 5px 10px;
    border-radius: 50px;
    width: 30%;
    background: #ffffffd3;
    height: 35px;
}

header div input{
    background: none;
    border: none;
    outline: none;

}
/* creacion de los pokemons */

.loader {
	margin: auto;
	display: none;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.loader.active {
	display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.title{
    margin: 40px 0;
    font-weight: 600;
    font-size: 20px;
}
section{
    width: 80%;
    margin: auto;
   
}

section .cont-pokemons{
    width:100%;
    margin: 20px auto;
    display:grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    justify-content: space-between;
    
}
section .cont-pokemons .pokemons{
    height: 350px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: -2px 0px 5px rgba(205, 205, 205, 0.507);
    border-radius: 10px;
}
section .cont-pokemons .pokemons .cont-img{
    width: 65%;
    object-fit: cover;
    margin:auto;
    height: 200px;
    margin-top: 25px;

}

section .cont-pokemons .pokemons .cont-img img{
    width: 100%;
    height: 100%;
}

section .cont-pokemons .pokemons p{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}